* {
  /* universal properties */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #c8dec8;
  display: flex;
  justify-content: center;
  align-items: center;
}
.App {
  text-align: center;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.TodoWrapper {
  background: #f0e7fa;
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 5px;
}

.TodoForm {
  width: 100%;
  margin: 1rem 0;
}

.todo-input {
  outline: none;
  background: none;
  border: solid #000000;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  /* margin-top: 1rem;
  margin-bottom: 2rem; */
  width: 80%;
  color: #000000;
}

.todo-input::placeholder {
  color: #302d2d;
}

.todo-btn {
  background: black;
  color: #fff;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 5px;
}

.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #000000;
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.fa-trash {
  /* margin-left: 0.75rem; */
  color: red;
}

.icon {
  cursor: pointer;
}

.edit-icon {
  color: #2929da;
}
.completed-icon {
  color: rgb(25, 124, 25);
}
.completed {
  text-decoration: line-through;
}

.flex {
  display: flex;
  justify-content: space-evenly;
}

.flex > * {
  margin: 0 2px;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.completed-list {
  margin-top: 2rem;
}

.todo-header {
  color: #302d2d;
}
